.hms-grid-item {
    border-radius: .75rem;
    transition: box-shadow 1s ease-out;
}

.hms-grid-item:hover {
    box-shadow: 1px 1px 80px 20px #8d8d8d;
}

.hms-grid-item-logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: .75rem;
}