.feel-good-inc-logo > img {
    filter: drop-shadow(2px 4px 6px gray);
}

.feel-good-inc-logo {
    padding-right: 50px;
}

.abs-img-wrapper {
    z-index: -1;
    position: absolute;
    width: 100%;
}

.abs-img {
    width: 100%;
    height: 50vh;
    filter: grayscale(0.7) opacity(0.8);
    object-fit: cover;
}

.hms-main-content {
    background-color: #fff;
    margin-top: 150px;
    padding: 25px;
    box-shadow: 1px 1px 80px 20px #8d8d8d;
    border-radius: 10px 10px 0 0;
}

.nav-hms-link.active, .nav-hms-link:hover {
    color: #aba1a1;
    border-bottom: 1px solid #aba1a1;
    border-radius: 3px;
}

footer img {
    filter: invert(1);
}