.hms-table tbody tr {
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.hms-table tbody tr:hover {
    background-color: lightgray;
}

.hms-table-with-actions tbody tr {
    transition: background-color 0.5s ease;
}

.hms-table-with-actions tbody tr:hover {
    background-color: lightgray;
}

.hms-table-with-actions tbody td.with-action {
    cursor: pointer;
}