<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Hardware Management System</title>
    <link rel="icon" type="image/png" th:href="@{/images/favicon.png}"/>

    <link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/hms-table.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/equipmentModalForms.js}"></script>
</head>
<body>
<section id="container">

    <nav class="py-2 bg-dark border-bottom">
        <div class="container d-flex flex-wrap justify-content-end">
            <ul class="nav">
                <li class="nav-item">
                    <span class="nav-link link-light px-2" th:text="${user.getRole().getName()}"/>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('LocalAdmin')">
                    <span class="nav-link link-light px-2" th:text="${'('+user.getCompanyBranch().getCity()+')'}"/>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a href="#"
                           class="nav-link px-2 d-flex align-items-center link-light text-decoration-none dropdown-toggle"
                           id="dropdownUser2"
                           data-bs-toggle="dropdown"
                           aria-expanded="false"
                           th:text="${'@'+user.getUsername()}"
                        />
                        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                            <li><a class="dropdown-item" th:href="@{/profile}">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" th:href="@{/logout}">Sign out</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <header class="py-3">
        <div class="container d-flex flex-wrap align-items-center">
            <a th:href="@{/index}" class="feel-good-inc-logo d-flex align-items-center text-dark text-decoration-none">
                <img th:src="@{images/logo-black.png}" class="bi me-2" width="80" alt="logo"/>
                <span class="fs-4">Feel Good Inc.</span>
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li sec:authorize="hasAnyAuthority('SuperAdmin')"><a th:href="@{/index}" class="nav-hms-link nav-link px-2 link-dark active">Manage branches</a></li>
                <li sec:authorize="hasAnyAuthority('SuperAdmin')"><a th:href="@{/index}" class="nav-hms-link nav-link px-2 link-dark">Manage users</a></li>
                <li sec:authorize="hasAnyAuthority('LocalAdmin')"><a th:href="@{/index}" class="nav-hms-link nav-link px-2 link-dark active">Departments</a></li>
            </ul>
        </div>
    </header>

    <div class="abs-img-wrapper">
        <img class="abs-img" th:src="@{images/hardware.jpg}" alt="logo"/>
    </div>

    <div class="container hms-main-content">
        <h3 class="pb-2 align-self-center">Equipment</h3>
        <div class="container px-4 py-5" id="icon-grid">
            <div class="card mb-5">
                <div class="card-body">
                    <h5 class="card-title" sec:authorize="hasAnyAuthority('SuperAdmin')">Selected branch</h5>
                    <h5 class="card-title" sec:authorize="hasAnyAuthority('LocalAdmin')">Your branch</h5>
                    <form class="row g-3">
                        <div class="col-md-6" style="pointer-events: none;">
                            <label for="inputName" class="form-label">Name</label>
                            <input type="text" class="form-control" id="inputName" th:value="${companyBranchDto.getName()}">
                        </div>
                        <div class="col-md-6" style="pointer-events: none;">
                            <label for="inputCity" class="form-label">City</label>
                            <input type="text" class="form-control" id="inputCity" th:value="${companyBranchDto.getCity()}">
                        </div>
                        <div class="col-md-4" style="pointer-events: none;">
                            <label for="inputAddress" class="form-label">Address</label>
                            <input type="text" class="form-control" id="inputAddress" th:value="${companyBranchDto.getAddress()}">
                        </div>
                        <div class="col-md-4" style="pointer-events: none;">
                            <label for="inputNumber" class="form-label">Number</label>
                            <input type="text" class="form-control" id="inputNumber" th:value="${companyBranchDto.getNumber()}">
                        </div>
                        <div class="col-md-4" style="pointer-events: none;">
                            <label for="inputZip" class="form-label">Postal code</label>
                            <input type="text" class="form-control" id="inputZip" th:value="${companyBranchDto.getPostal_code()}">
                        </div>
                    </form>
                </div>
            </div>
            <div class="card mb-5">
                <div class="card-body">
                    <h5 class="card-title">Selected department</h5>
                    <p><strong th:text="${departmentDto.getName()}"></strong></p>
                </div>
            </div>
            <div class="card mb-5">
                <div class="card-body">
                    <h5 class="card-title">Selected workstation</h5>
                    <form class="row g-3">
                        <div class="col-md-2" style="pointer-events: none;">
                            <label for="inputWorkstationName" class="form-label">Name</label>
                            <input type="text" class="form-control" id="inputWorkstationName" th:value="${workstationDto.getWorkstationName()}">
                        </div>
                        <div class="col-md-5" style="pointer-events: none;">
                            <label for="inputEmployeeLastName" class="form-label">Employee Last Name</label>
                            <input type="text" class="form-control" id="inputEmployeeLastName" th:value="${workstationDto.getEmployeeLastName()}">
                        </div>
                        <div class="col-md-5" style="pointer-events: none;">
                            <label for="inputEmployeeFirstName" class="form-label">Employee First Name</label>
                            <input type="text" class="form-control" id="inputEmployeeFirstName" th:value="${workstationDto.getEmployeeFirstName()}">
                        </div>
                        <div class="col-md-4" style="pointer-events: none;">
                            <label for="inputEmployeeEmail" class="form-label">Email</label>
                            <input type="text" class="form-control" id="inputEmployeeEmail" th:value="${workstationDto.getEmployeeEmail()}">
                        </div>
                        <div class="col-md-4" style="pointer-events: none;">
                            <label for="inputEmployeePhoneNumber" class="form-label">Phone Number</label>
                            <input type="text" class="form-control" id="inputEmployeePhoneNumber" th:value="${workstationDto.getEmployeePhoneNumber()}">
                        </div>
                    </form>
                </div>
            </div>
            <p class="lead">
                Expand the lists below to manage the equipment per type.
            </p>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Computers list
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <button type="button"
                                    class="btn btn-outline-dark hms-grid-item-logo icon-square flex-shrink-0 me-3"
                                    data-bs-toggle="modal"
                                    data-bs-target="#addComputerModal"
                            >
                                <svg class="bi" width="1em" height="1em" style="fill: #212529">
                                    <use th:href="${'#icon-add'}"></use>
                                </svg> Add computer
                            </button>
                            <table class="hms-table-with-actions table">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col"> Manufacturer </th>
                                    <th scope="col"> Model </th>
                                    <th scope="col"> Serial Number </th>
                                    <th scope="col"> CPU </th>
                                    <th scope="col"> RAM </th>
                                    <th scope="col"> OS </th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${computerDtoList.isEmpty()}">
                                    <td colspan="2"> No Computers Available </td>
                                </tr>
                                <tr th:each="computer,itrStat : ${computerDtoList}" class="clickable-row-computer">
                                    <td><span th:text="${itrStat.index + 1}"></span></td>
                                    <td><span th:text="${computer.getManufacturer()}"></span></td>
                                    <td><span th:text="${computer.getModel()}"></span></td>
                                    <td><span th:text="${computer.getSerialNumber()}"></span></td>
                                    <td><span th:text="${computer.getCpu()}"></span></td>
                                    <td><span th:text="${computer.getRam()}"></span></td>
                                    <td><span th:text="${computer.getOperatingSystem()}"></span></td>
                                    <td class="with-action">
                                        <button type="button"
                                                class="btn hms-grid-item-logo icon-square text-dark flex-shrink-0 me-3"
                                                data-bs-toggle="modal"
                                                data-bs-target="#editComputerModal"
                                                th:attr="data-computer-id=${computer.getId()},
                                                    data-computer-manufacturer=${computer.getManufacturer()},
                                                    data-computer-model=${computer.getModel()},
                                                    data-computer-serial-number=${computer.getSerialNumber()},
                                                    data-computer-cpu=${computer.getCpu()},
                                                    data-computer-ram=${computer.getRam()},
                                                    data-computer-os=${computer.getOperatingSystem()}"
                                        >
                                            <svg class="bi" width="1em" height="1em" style="fill: #212529">
                                                <use th:href="${'#icon-edit'}"></use>
                                            </svg>
                                        </button>
                                    </td>
                                    <td class="with-action">
                                        <button type="button"
                                                class="btn hms-grid-item-logo icon-square text-dark flex-shrink-0 me-3"
                                                data-bs-toggle="modal"
                                                data-bs-target="#deleteComputerModal"
                                                th:attr="data-computer-id=${computer.getId()}"
                                        >
                                            <svg class="bi" width="1em" height="1em" style="fill: #212529">
                                                <use th:href="${'#icon-delete'}"></use>
                                            </svg>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Monitors list
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <button type="button"
                                    class="btn btn-outline-dark hms-grid-item-logo icon-square flex-shrink-0 me-3"
                                    data-bs-toggle="modal"
                                    data-bs-target="#addMonitorModal"
                            >
                                <svg class="bi" width="1em" height="1em" style="fill: #212529">
                                    <use th:href="${'#icon-add'}"></use>
                                </svg> Add monitor
                            </button>
                            <table class="hms-table-with-actions table">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col"> Manufacturer </th>
                                    <th scope="col"> Model </th>
                                    <th scope="col"> Serial Number </th>
                                    <th scope="col"> Screen Size </th>
                                    <th scope="col"> Resolution </th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${monitorDtoList.isEmpty()}">
                                    <td colspan="2"> No Monitors Available </td>
                                </tr>
                                <tr th:each="monitor,itrStat : ${monitorDtoList}" class="clickable-row-monitor">
                                    <td><span th:text="${itrStat.index + 1}"></span></td>
                                    <td><span th:text="${monitor.getManufacturer()}"></span></td>
                                    <td><span th:text="${monitor.getModel()}"></span></td>
                                    <td><span th:text="${monitor.getSerialNumber()}"></span></td>
                                    <td><span th:text="${monitor.getScreenSize()}"></span></td>
                                    <td><span th:text="${monitor.getScreenResolution()}"></span></td>
                                    <td class="with-action">
                                        <button type="button"
                                                class="btn hms-grid-item-logo icon-square text-dark flex-shrink-0 me-3"
                                                data-bs-toggle="modal"
                                                data-bs-target="#editMonitorModal"
                                                th:attr="data-monitor-id=${monitor.getId()},
                                                    data-monitor-manufacturer=${monitor.getManufacturer()},
                                                    data-monitor-model=${monitor.getModel()},
                                                    data-monitor-serial-number=${monitor.getSerialNumber()},
                                                    data-monitor-screen-size=${monitor.getScreenSize()},
                                                    data-monitor-resolution=${monitor.getScreenResolution()}"
                                        >
                                            <svg class="bi" width="1em" height="1em" style="fill: #212529">
                                                <use th:href="${'#icon-edit'}"></use>
                                            </svg>
                                        </button>
                                    </td>
                                    <td class="with-action">
                                        <button type="button"
                                                class="btn hms-grid-item-logo icon-square text-dark flex-shrink-0 me-3"
                                                data-bs-toggle="modal"
                                                data-bs-target="#deleteMonitorModal"
                                                th:attr="data-monitor-id=${monitor.getId()}"
                                        >
                                            <svg class="bi" width="1em" height="1em" style="fill: #212529">
                                                <use th:href="${'#icon-delete'}"></use>
                                            </svg>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Company phones list
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <button type="button"
                                    class="btn btn-outline-dark hms-grid-item-logo icon-square flex-shrink-0 me-3"
                                    data-bs-toggle="modal"
                                    data-bs-target="#addCompanyPhoneModal"
                            >
                                <svg class="bi" width="1em" height="1em" style="fill: #212529">
                                    <use th:href="${'#icon-add'}"></use>
                                </svg>Add company phone
                            </button>
                            <table class="hms-table-with-actions table">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col"> Manufacturer </th>
                                    <th scope="col"> Model </th>
                                    <th scope="col"> Serial Number </th>
                                    <th scope="col"> Phone Number </th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${companyPhoneDtoList.isEmpty()}">
                                    <td colspan="2"> No Company Phones Available </td>
                                </tr>
                                <tr th:each="companyPhone,itrStat : ${companyPhoneDtoList}" class="clickable-row-phone">
                                    <td><span th:text="${itrStat.index + 1}"></span></td>
                                    <td><span th:text="${companyPhone.getManufacturer()}"></span></td>
                                    <td><span th:text="${companyPhone.getModel()}"></span></td>
                                    <td><span th:text="${companyPhone.getSerialNumber()}"></span></td>
                                    <td><span th:text="${companyPhone.getPhoneNumber()}"></span></td>
                                    <td class="with-action">
                                        <button type="button"
                                                class="btn hms-grid-item-logo icon-square text-dark flex-shrink-0 me-3"
                                                data-bs-toggle="modal"
                                                data-bs-target="#editCompanyPhoneModal"
                                                th:attr="data-company-phone-id=${companyPhone.getId()},
                                                    data-company-phone-manufacturer=${companyPhone.getManufacturer()},
                                                    data-company-phone-model=${companyPhone.getModel()},
                                                    data-company-phone-serial-number=${companyPhone.getSerialNumber()},
                                                    data-company-phone-number=${companyPhone.getPhoneNumber()}"
                                        >
                                            <svg class="bi" width="1em" height="1em" style="fill: #212529">
                                                <use th:href="${'#icon-edit'}"></use>
                                            </svg>
                                        </button>
                                    </td>
                                    <td class="with-action">
                                        <button type="button"
                                                class="btn hms-grid-item-logo icon-square text-dark flex-shrink-0 me-3"
                                                data-bs-toggle="modal"
                                                data-bs-target="#deleteCompanyPhoneModal"
                                                th:attr="data-company-phone-id=${companyPhone.getId()}"
                                        >
                                            <svg class="bi" width="1em" height="1em" style="fill: #212529">
                                                <use th:href="${'#icon-delete'}"></use>
                                            </svg>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="py-4 bg-dark border-top d-flex flex-row justify-content-around align-items-end">
        <img th:src="@{images/logo-footer.png}" class="bi me-2" width="150" alt="logo"/>
        <p class="link-light no-margin"><small>Copyright 2023-2027</small></p>
    </footer>
</section>
<div class="modal fade" id="addComputerModal" tabindex="-1" aria-labelledby="addComputerModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addComputerModalLabel">Add computer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{'/addComputer'(branchId=${branchId},departmentId=${departmentDto.id},workstationId=${workstationDto.workstationId})}" th:object="${computerDto}" method="post">
                <div class="modal-body">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="inputAddComputerManufacturer" class="form-label">Manufacturer</label>
                            <input type="text" class="form-control" name="manufacturer" id="inputAddComputerManufacturer" th:field="*{manufacturer}">
                        </div>
                        <div class="col-md-6">
                            <label for="inputAddComputerModel" class="form-label">Model</label>
                            <input type="text" class="form-control" name="model" id="inputAddComputerModel" th:field="*{model}">
                        </div>
                        <div class="col-md-12">
                            <label for="inputAddComputerSerialNumber" class="form-label">Serial Number</label>
                            <input type="text" class="form-control" name="serialNumber" id="inputAddComputerSerialNumber" th:field="*{serialNumber}">
                        </div>
                        <div class="col-md-4">
                            <label for="inputAddComputerCpu" class="form-label">CPU</label>
                            <input type="text" class="form-control" name="cpu" id="inputAddComputerCpu" th:field="*{cpu}">
                        </div>
                        <div class="col-md-4">
                            <label for="inputAddComputerRam" class="form-label">RAM</label>
                            <input type="text" class="form-control" name="ram" id="inputAddComputerRam" th:field="*{ram}">
                        </div>
                        <div class="col-md-4">
                            <label for="inputAddComputerOs" class="form-label">OS</label>
                            <input type="text" class="form-control" name="operatingSystem" id="inputAddComputerOs" th:field="*{operatingSystem}">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-dark">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="editComputerModal" tabindex="-1" aria-labelledby="editComputerModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editComputerModalLabel">Edit computer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{'/updateComputer'(branchId=${branchId},departmentId=${departmentDto.getId()},workstationId=${workstationDto.getWorkstationId()})}" th:object="${computerDto}" method="post">
                <input type="hidden" id="inputEditComputerId" name="computerId" th:field="*{id}">
                <div class="modal-body">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="inputEditComputerManufacturer" class="form-label">Manufacturer</label>
                            <input type="text" class="form-control" name="manufacturer" id="inputEditComputerManufacturer" th:field="*{manufacturer}">
                        </div>
                        <div class="col-md-6">
                            <label for="inputEditComputerModel" class="form-label">Model</label>
                            <input type="text" class="form-control" name="model" id="inputEditComputerModel" th:field="*{model}">
                        </div>
                        <div class="col-md-12">
                            <label for="inputEditComputerSerialNumber" class="form-label">Serial Number</label>
                            <input type="text" class="form-control" name="serialNumber" id="inputEditComputerSerialNumber" th:field="*{serialNumber}">
                        </div>
                        <div class="col-md-4">
                            <label for="inputEditComputerCpu" class="form-label">CPU</label>
                            <input type="text" class="form-control" name="cpu" id="inputEditComputerCpu" th:field="*{cpu}">
                        </div>
                        <div class="col-md-4">
                            <label for="inputEditComputerRam" class="form-label">RAM</label>
                            <input type="text" class="form-control" name="ram" id="inputEditComputerRam" th:field="*{ram}">
                        </div>
                        <div class="col-md-4">
                            <label for="inputEditComputerOs" class="form-label">OS</label>
                            <input type="text" class="form-control" name="operatingSystem" id="inputEditComputerOs" th:field="*{operatingSystem}">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-dark">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteComputerModal" tabindex="-1" aria-labelledby="deleteComputerModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteComputerModalLabel">Delete computer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{'/deleteComputer'(branchId=${branchId},departmentId=${departmentDto.getId()},workstationId=${workstationDto.getWorkstationId()})}" th:object="${computerDto}" method="post">
                <input type="hidden" id="inputDeleteComputerId" name="computerId" th:field="*{id}">
                <div class="modal-body">
                    Are you sure you want to delete the computer?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-dark">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="addMonitorModal" tabindex="-1" aria-labelledby="addMonitorModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addMonitorModalLabel">Add monitor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="inputAddMonitorManufacturer" class="form-label">Manufacturer</label>
                            <input type="text" class="form-control" name="monitorManufacturer" id="inputAddMonitorManufacturer">
                        </div>
                        <div class="col-md-6">
                            <label for="inputAddMonitorModel" class="form-label">Model</label>
                            <input type="text" class="form-control" name="monitorModel" id="inputAddMonitorModel">
                        </div>
                        <div class="col-md-12">
                            <label for="inputAddMonitorSerialNumber" class="form-label">Serial Number</label>
                            <input type="text" class="form-control" name="monitorSerialNumber" id="inputAddMonitorSerialNumber">
                        </div>
                        <div class="col-md-6">
                            <label for="inputAddMonitorScreenSize" class="form-label">Screen size</label>
                            <input type="text" class="form-control" name="monitorScreenSize" id="inputAddMonitorScreenSize">
                        </div>
                        <div class="col-md-6">
                            <label for="inputAddMonitorResolution" class="form-label">Resolution</label>
                            <input type="text" class="form-control" name="monitorResolution" id="inputAddMonitorResolution">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-dark">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="editMonitorModal" tabindex="-1" aria-labelledby="editMonitorModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editMonitorModalLabel">Edit Monitor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <input type="hidden" id="inputEditMonitorId" name="monitorId">
                <div class="modal-body">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="inputEditMonitorManufacturer" class="form-label">Manufacturer</label>
                            <input type="text" class="form-control" name="monitorManufacturer" id="inputEditMonitorManufacturer">
                        </div>
                        <div class="col-md-6">
                            <label for="inputEditMonitorModel" class="form-label">Model</label>
                            <input type="text" class="form-control" name="monitorModel" id="inputEditMonitorModel">
                        </div>
                        <div class="col-md-12">
                            <label for="inputEditMonitorSerialNumber" class="form-label">Serial Number</label>
                            <input type="text" class="form-control" name="monitorSerialNumber" id="inputEditMonitorSerialNumber">
                        </div>
                        <div class="col-md-6">
                            <label for="inputEditMonitorScreenSize" class="form-label">Screen size</label>
                            <input type="text" class="form-control" name="monitorScreenSize" id="inputEditMonitorScreenSize">
                        </div>
                        <div class="col-md-6">
                            <label for="inputEditMonitorResolution" class="form-label">Resolution</label>
                            <input type="text" class="form-control" name="monitorResolution" id="inputEditMonitorResolution">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-dark">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteMonitorModal" tabindex="-1" aria-labelledby="deleteMonitorModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteMonitorModalLabel">Delete Monitor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <input type="hidden" id="inputDeleteMonitorId" name="monitorId">
                <div class="modal-body">
                    Are you sure you want to delete the monitor?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-dark">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="addCompanyPhoneModal" tabindex="-1" aria-labelledby="addCompanyPhoneModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCompanyPhoneModalLabel">Add company phone</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="inputAddCompanyPhoneManufacturer" class="form-label">Manufacturer</label>
                            <input type="text" class="form-control" name="companyPhoneManufacturer" id="inputAddCompanyPhoneManufacturer">
                        </div>
                        <div class="col-md-6">
                            <label for="inputAddCompanyPhoneModel" class="form-label">Model</label>
                            <input type="text" class="form-control" name="companyPhoneModel" id="inputAddCompanyPhoneModel">
                        </div>
                        <div class="col-md-12">
                            <label for="inputAddCompanyPhoneSerialNumber" class="form-label">Serial Number</label>
                            <input type="text" class="form-control" name="companyPhoneSerialNumber" id="inputAddCompanyPhoneSerialNumber">
                        </div>
                        <div class="col-md-12">
                            <label for="inputAddCompanyPhonePhoneNumber" class="form-label">Phone number</label>
                            <input type="text" class="form-control" name="companyPhonePhoneNumber" id="inputAddCompanyPhonePhoneNumber">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-dark">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="editCompanyPhoneModal" tabindex="-1" aria-labelledby="editCompanyPhoneModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCompanyPhoneModalLabel">Edit company phone</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <input type="hidden" id="inputEditCompanyPhoneId" name="companyPhoneId">
                <div class="modal-body">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="inputEditCompanyPhoneManufacturer" class="form-label">Manufacturer</label>
                            <input type="text" class="form-control" name="companyPhoneManufacturer" id="inputEditCompanyPhoneManufacturer">
                        </div>
                        <div class="col-md-6">
                            <label for="inputEditCompanyPhoneModel" class="form-label">Model</label>
                            <input type="text" class="form-control" name="companyPhoneModel" id="inputEditCompanyPhoneModel">
                        </div>
                        <div class="col-md-12">
                            <label for="inputEditCompanyPhoneSerialNumber" class="form-label">Serial Number</label>
                            <input type="text" class="form-control" name="companyPhoneSerialNumber" id="inputEditCompanyPhoneSerialNumber">
                        </div>
                        <div class="col-md-12">
                            <label for="inputEditCompanyPhonePhoneNumber" class="form-label">Phone number</label>
                            <input type="text" class="form-control" name="companyPhonePhoneNumber" id="inputEditCompanyPhonePhoneNumber">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-dark">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteCompanyPhoneModal" tabindex="-1" aria-labelledby="deleteCompanyPhoneModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteCompanyPhoneModalLabel">Delete company phone</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <input type="hidden" id="inputDeleteCompanyPhoneId" name="monitorId">
                <div class="modal-body">
                    Are you sure you want to delete the company phone?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-dark">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="icon-add" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
    </symbol>
    <symbol id="icon-edit" viewBox="0 0 16 16">
        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
    </symbol>
    <symbol id="icon-delete" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
    </symbol>
</svg>
</body>
</html>